{% extends "base.html" %}

{% block content %}
<h1>
Sign up to NurseConnect!
</h1>
<p>
    NurseConnect sends clinical and motivational messages to nurses working in
    maternal and child health.
</p>
<p>
    You can get a R10 airtime voucher for every coworker you sign up.
</p>
<form method="post">
    {% csrf_token %}

    {% for field in form %}
      <fieldset>
      {% ifequal field.name 'terms_and_conditions' %}
        <label for="id_{{ field.name }}"> Please read the
          <a href="terms_and_conditions">Terms & Conditions.</a> Do you agree to them?
        </label>
        {{ field }}
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      {% else %}
        <label for="id_{{ field.name }}"> {{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      {% endifequal %}
      </fieldset>
    {% endfor %}

    <input type="submit" value="Done">
</form>
{% endblock content %}
