{% extends "base.html" %}

{% block content %}
<p> Thank you for signing up! NurseConnect will send you clinical information and tips about working in maternal and child health.</p>
<p> Send this link to a friend that wants to sign up.</p>

<input id="referral" type="text" readonly onclick="this.select()" value={{ referral_link }}>
<button id="copy_button">Copy link</button>

<script>
    var button = document.getElementById("copy_button");
    button.addEventListener("click", function(event) {
        var referral = document.getElementById("referral");
        referral.focus();
        referral.select();
        document.execCommand("copy");
    });
</script>
{% endblock %}
